$lightgrey: #F2F2F2;
$darkgrey: #4B4B4B;
$xtra-darkgrey: #252525;
$orange: #FF6900;
$blue: #6D9FFF;

$mobile: 500px;

html {
  // 1 rem = 10pt;
  font-size: 12pt;
}

body {
  background: white;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

@mixin forLargeScreens($media) {
  @media (min-width: $media/16+em) { @content; }
}

@mixin forSmallScreens($media) {
    @media (max-width: $media) { @content; }
}
