@import 'base';

.main-container {
  padding: 20px;

  table {
    border-collapse: collapse;
    table-layout: fixed;

    th, td {
      border: 1px solid black;
      padding: 10px;
      text-align: center;
    }

    #meta-header {
      color: white;
    }

    #header {
      background: #252525;
      color: white;
    }

    tr:hover {
      border: 3px solid black;
    }

    tr:nth-child(even) {
      background: #f2f2f2;
    }
  }
}

// Status Colors
.status-good {
  color: green;
}

.status-error {
  color: red;
}

.connected-bg {
  background: green;
}

.disconnected-bg {
  background: red;
}

// Column widths
#header { table-layout: fixed }
#header-id { width: 100px }
#header-last-heard { width: 300px }
#header-bad-bend { width: 100px }
