@import 'base';

.main-container {
  overflow-x: auto;
  padding: 20px;

  .nav-bar {
    align-items: center;
    justify-content: space-between;
    display: flex;

    img {
      color: black;
      cursor: pointer;
      margin-bottom: 1.5rem;
      width: 75px;
    }

    button {
      background: none;
      border-style: none;
      color: $darkgrey;
    }
  }  
}

.hide {
  display: none;
}

.toggle-button {
  background: black;
  border: solid 2px black;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  height: 35px;
  margin-left: 0.5rem;
  padding: 8px;
  text-align: center;
}

#filter-toggle-menu {
  display: flex;

  #filter-menu  {
    display: flex; 

    input  {
      background: white;
      border: solid 2px black;
      border-radius: 5px;
      color: black;
      font-size: 1rem;
      padding: 3px 10px 3px 10px;
      text-align: center;
      width: 110px;
    }

    select {
      @extend .toggle-button;
      background: white;
      color: black;
    }

    .filter-button-on {
      background: black;
      border: solid 2px black;
      color: white;
    }
  }
  
  #toggle-menu {
    display: flex;

    .toggle-button-off {
      background: white;
      border: solid 2px black;
      color: black;
    }
  }
}

.status-inactive {
  opacity: 0.5;
}


