.main-component-wrapper {
  background: white;
  height: 555px;
  margin: auto;
  padding-top: 20px;
  width: 400px;

  .likes {
    margin-top: 25px;

    Button {
      margin-right: 25px;
    }
  
  }
}