@import 'base';

h4 {
  font-size: 0.8rem;
  font-weight: 800;
  margin-bottom: 10px;
  text-decoration: underline;
}

.tag-row {
  border-top: solid 1px $lightgrey;
  display: flex;
  justify-content: flex-start;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 100%;
}

.tag-section {
  margin-right: 4rem;
}

.info {
  max-width: 100px;

  & div  { 
    margin-bottom: 10px; 
  }

  .tagId {}
  .name {}
  .site {
    background: $lightgrey;
    border-radius: 5px;
    display: inline-block;
    font-size: 0.9rem;
    padding: 5px;
    max-width: 100%;
  }
}

.last-heard {
  .last-heard-data {}
}

.events-wrapper, .motions-wrapper {
  flex-basis: 100px;
  flex-grow: 1;
  max-width: 300px;

  .events, .motions {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
}

.data-row {
  display: flex;
  margin-bottom: 5px; 

  .data-row-label {
    font-weight: 600;
  }
}

.orientation, .accel, .magno, .gyro {
  .data-row-label {
    width: 30px;
  }
}

.envHi .data-row-label {
  width: 75px;
}

.envLo .data-row-label {
  width: 65px;
}

.meta .data-row-label {
  width: 50px;
}

.envHi, .envLo, .orientation, .meta, .accel, .magno, .gyro {
  font-size: 0.9rem;

  & div {
    margin-bottom: 5px;
  }
}

.single-row {
  display: flex;
  max-width: 500px;

  & div {
    margin-right: 25px;
    max-width: 150px;
  }
}

.expand-max-width {
  max-width: 500px;
}
